<h2>@ViewBag.Title</h2>

@* Display "Hello <username> *@


<p>
    @*should redirect to sighting/basicinfo*@
    <input type="button" value="I Saw Something!" />
</p>

<p>
    @*should redirect to user/history*@
    <input type="button" value="My History" />
</p>