<h2>@ViewBag.Title</h2>

<h3><u>User Information</u></h3>
<p>
    As a user, I hereby consent to and acknowledge that any and all information submitted to this application is subject to
    collection and use by Bizzy Bee Applications (Referred to as BBA).
    By creating an account and using the services provided by BBA, I agree not to take legal actions against the company
    regarding information provided to BBA via web services and applications.
</p>

<h3><u>Allergy and Personal Harm Warning</u></h3>
<p>
    Stinging insects and other plants and animals which may be found while looking for or identifying
    bees, wasps, and other critters may cause allergic reactions. BBA is not responsible for contact with
    any plants, animals, insects, bugs, environments or other such harms. While bees in this application may be listed as non-aggressive,
    any bug, insect, or critter may become aggressive is provoked or disturbed and all wild animals are unpredictable.
    Users should be aware of all surroundings and take note of their personal health and safety.
</p>

<h3><u>Trespassing Warning</u></h3>
<p>
    Bizzy Bee Applications is not responsible for individuals’ actions while using this application and does not condone
    trespassing. Individuals should not enter illegal areas including, but not limited to personal or corporate property.
</p>

<h3><u>Business Rights</u></h3>
<p>
    Identibee, the Identibee logo, and all other original BBA icons, logos, information and productions
    are the sole property of BBA and Crystal MacDonald and are not to be used without exclusive permission of the owner.
    All rights reserved.
</p>