<p>
    Let's get some basic preliminary information. This will help us narrow down what you saw.
</p>

<form>
    <p>
        <div class="form-group">
            <label for="SeenDate">Date you saw this:</label>
            <input type="date" class="form-control" id="SeenDate">
        </div>
        <div class="form-group">
            <label for="SeenLocation">Location you saw this:</label>
            <input type="text" class="form-control" id="SeenLocation">
        </div>
    </p>

    <p>
        Did what you saw have six legs?

        <label class="radio-inline"><input type="radio" name="SixLegs">Yes</label>
        <label class="radio-inline"><input type="radio" name="NotSixLegs">No</label>
    </p>

    <p>
        Did what you saw have wings?

        <label class="radio-inline"><input type="radio" name="Wings">Yes</label>
        <label class="radio-inline"><input type="radio" name="NoWings">No</label>
    </p>

    <p>
        Is it fuzzy?

        <label class="radio-inline"><input type="radio" name="Fuzzy">Yes</label>
        <label class="radio-inline"><input type="radio" name="NotFuzzy">No</label>
    </p>
</form> 
<p>
    @*Navigation Buttons*@

</p>

