@model BeeIdentified.Data.Entities.BeeData

<h3>
    Does this look like the bee you saw?
</h3>

@* Output all the data for the bee:
    Image:
    Common Name:
    Latin Name:
    Colors:
    Fuzzy:
    Conservation Status:
*@

<p>
    @*Navigation Buttons*@
    <input type="button" value="Start Over" id="StartOverButton" />
    <input type="button" value="This was it!" id="SelectBee" />
</p>

<script type="text/javascript">


    document.getElementById("StartOverButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };

    document.getElementById("SelectBee").onclick = function () {
        location.href = "/User/History";
    };
</script>