
<h3>
    Select a few colors that describe the critter you saw. Choose up to 3.
</h3>

<form name="pickColor">
    <p>
        <input type="checkbox" name="color" value="yellow" onclick="return ColorCount()" />Yellow<br />
        <input type="checkbox" name="color" value="black" onclick="return ColorCount()" />Black<br />
        <input type="checkbox" name="color" value="white" onclick="return ColorCount()" />White<br />
        <input type="checkbox" name="color" value="green" onclick="return ColorCount()" />Green<br />
        <input type="checkbox" name="color" value="blue" onclick="return ColorCount()" />Blue<br />
        <input type="checkbox" name="color" value="purple" onclick="return ColorCount()" />Purple<br />
        <input type="checkbox" name="color" value="pink" onclick="return ColorCount()" />Pink<br />
        <input type="checkbox" name="color" value="red" onclick="return ColorCount()" />Red<br />
        <input type="checkbox" name="color" value="orange" onclick="return ColorCount()" />Orange<br />
    </p>
</form>

<p>
    @*Navigation Buttons*@
    <input type="button" value="Start Over" id="StartOverButton" />
    <input type="button" value="Back" id="BackButton" />
    <input type="button" value="Next" id="NextButton" />
</p>

<script type="text/javascript">
    document.getElementById("NextButton").onclick = function () {
        location.href = "/Sighting/PossibleMatches";
    };
</script>

<script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };
</script>

<script type="text/javascript">
    document.getElementById("StartOverButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };
</script>

<script type="text/javascript">
    function ColorCount() {
        var Count = 0
        if (document.pickColor.red.checked) {
            count++
        }
        if (document.pickColor.blue.checked) {
            count++
        }
        if (document.pickColor.green.checked) {
            count++
        } if (document.pickColor.white.checked) {
            count++
        }
        if (document.pickColor.black.checked) {
            count++
        }
        if (document.pickColor.orange.checked) {
            count++
        }

        if (Count > 3) {
            alert('Pick up to 3 colors')
            document.pickcolor; return false;
        }

    }
</script>