
<h3>
    Select a few colors that describe the critter you saw. Choose up to 3.
</h3>

<form name="pickColor">
    <p>
        <input type="checkbox" name="yellow" value="yellow" />Yellow<br />
        <input type="checkbox" name="black" value="black" />Black<br />
        <input type="checkbox" name="white" value="white" />White<br />
        <input type="checkbox" name="green" value="green" />Green<br />
        <input type="checkbox" name="blue" value="blue" />Blue<br />
        <input type="checkbox" name="purple" value="purple" />Purple<br />
        <input type="checkbox" name="pink" value="pink" />Pink<br />
        <input type="checkbox" name="red" value="red" />Red<br />
        <input type="checkbox" name="orange" value="orange" />Orange<br />
    </p>
</form>

<p>
    @*Navigation Buttons*@
    <input type="button" value="Start Over" id="StartOverButton" />
    <input type="button" value="Back" id="BackButton" />
    <input type="button" value="Next" id="NextButton" />
</p>

<script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };


    document.getElementById("StartOverButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };

    document.getElementById("NextButton").onclick = function () {
        var count = 0

        if (document.pickColor.yellow.checked) {
            count = count + 1
        }
        if (document.pickColor.black.checked) {
            count = count + 1
        }
        if (document.pickColor.white.checked) {
            count = count + 1
        }
        if (document.pickColor.green.checked) {
            count = count + 1
        }
        if (document.pickColor.blue.checked) {
            count = count + 1
        }
        if (document.pickColor.purple.checked) {
            count = count + 1
        }
        if (document.pickColor.pink.checked) {
            count = count + 1
        }
        if (document.pickColor.red.checked) {
            count = count + 1
        }
        if (document.pickColor.orange.checked) {
            count = count + 1
        }

        if (count > 3) {
            alert('Pick up to 3 colors')
            return
        }

    if(count < 1)    {
        alert('Choose at least 1 color!')
        return
    }

    location.href = "/Sighting/PossibleMatches";
    }

</script>