@model IEnumerable<BeeIdentified.Data.Entities.BeeData>

<h3>
    Select an image to get a better view. <br>
    If nothing looks right, you can edit the selections or start over.
</h3>

<p>
    @* Bee List *@
    <table class="table">

        <thead>
            <tr>
                <th>
                    This is my Bee!
                </th>

                <th>
                    Bee Image
                </th>

                <th>
                    Common Name
                </th>

                <th>
                    Latin Name
                </th>

                <th>
                    Conservation Status
                </th>

                @*<th>
                    More Info
                </th>*@
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td><input type="button" value="This is My Bee!" id="ThisIsItButton"/></td>  @*Need to have some way to tag this to know which bee this is for*@ 

                <td>@item.Photo</td>

                <td>@item.CommonName</td>

                <td>@item.LatinName</td>

                <td>@item.ConservationStatus</td>
            </tr>

        }
            </tbody>

    </table>
</p>

<p>
    @*Navigation Buttons*@
    <input type="button" value="Start Over" id="StartOverButton" />
    <input type="button" value="Back" id="BackButton" />
</p>

<script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "/Sighting/Colors";
    };

    document.getElementById("StartOverButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };

    document.getElementById("ThisIsItButton").onclick = function () {
        // Get the BeeId for the button we have clicked and insert that into the UserBees Database

        location.href = "/User/History";
    };

</script>

