@model IEnumerable<BeeIdentified.Data.Entities.BeeData>

<h3>
    Select an image to get a better view. <br>
    If nothing looks right, you can edit the selections or start over.
</h3>

<p>
    @* Bee List *@

    @* Image *@
    @* Latin Name *@
    @* Common Name *@
    @* This is my bee -> grab the Location data right now *@

    @* Don't forget to format me in a css file!! *@
    <table class="table">

        <thead>
            <tr>
                <th></th>

                <th>
                    This is my Bee!
                </th>

                <th>
                    Bee Image
                </th>

                <th>
                    Common Name
                </th>

                <th>
                    Latin Name
                </th>

                <th>
                    Conservation Status
                </th>

                <th>
                    Color One
                </th>

                <th>
                    Color Two
                </th>

                <th>
                    Color Three
                </th>

                <th>
                    Fuzzy?
                </th>
                <th>
                    More Info
                </th>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>

                <td>@item.BeeID</td>

                <td>@item.CommonName</td>

            </tr>


        }
            </tbody>

    </table>



</p>

<p>
    @*Navigation Buttons*@
    <input type="button" value="Start Over" id="StartOverButton" />
    <input type="button" value="Back" id="BackButton" />
</p>

<script type="text/javascript">
    document.getElementById("BackButton").onclick = function () {
        location.href = "/Sighting/Colors";
    };
</script>

<script type="text/javascript">
    document.getElementById("StartOverButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };
</script>

<script type="text/javascript">
    document.getElementById("ThisIsItButton").onclick = function () {
        location.href = "/Sighting/";
    };
</script>