<h2>@ViewBag.Title</h2>
<form name="useroutput">
    <p>
        @*write script to populate data here*@
        Number of Bees Identified:
        <output name="BeesIdentified" readonly="true"></output>
    </p>

    <p>
        Number of Species Identified: 
        <output name="IdentifiedSpecies"></output>
    </p>

    <p>
        Locations:
        <output name="Locations"></output>
    </p>

    <p>
        Overall Days:
        <output name="OverallViewDays"></output>
    </p>

</form>
<p>
    @*buttons for species list, locations, and both*@

    @*Navigation Buttons*@
    <input type="button" value="Discover More Bees" id="NewBeeButton" />
</p>

<script type="text/javascript">
    {
        //fill in the data from the database for the user.
    };

    document.getElementById("NewBeeButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };


</script>