@model IEnumerable<BeeIdentified.Data.Entities.HistoryDisplay>

<h2>@ViewBag.Title</h2>

<p>
    <table class="table">

        <thead>
            <tr>
                <th>
                    Bee Common Name
                </th>
                <th>
                    Found Location
                </th>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.beeName</td>
                    <td>@item.location</td>
                </tr>
            }
        </tbody>
    </table>
</p>

<p>
    @*buttons for species list, locations, and both*@

    @*Navigation Buttons*@

    <input type="button" value="Discover More Bees" id="NewBeeButton" />
</p>

<script type="text/javascript">
    document.getElementById("NewBeeButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };

</script>
