<h2>@ViewBag.Title</h2>

<p>
    @*write script to populate data here*@
    Number of Bees Identified:

</p>
<p>
    Number of Species Identified: 

</p>
<p>
    Locations:

</p>
<p>
    Overall Days:

</p>
<p>
@*buttons for species list, locations, and both*@
</p>

<script type="text/javascript">
  {
      //fill in the data from the database for the user. 
  };
</script>