@model IEnumerable<BeeIdentified.Data.Entities.HistoryDisplay>

<h2>@ViewBag.Title</h2>

@* Maybe make this a nice little table. Or look to see if we have some duplication happening?? *@
<p>
    <table class="table">

        <thead>
            <tr>
                <th>
                    Bee Common Name
                </th>
                <th>
                    Found Location
                </th>
        </thead>

        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.beeName</td>
                    <td>@item.location</td>
                </tr>
            }
        </tbody>
    </table>
</p>

<p>
    @*buttons for species list, locations, and both*@

    @*Navigation Buttons*@

    <input type="button" value="Discover More Bees" id="NewBeeButton" />
</p>

<script type="text/javascript">
    {
        //fill in the data from the database for the user.
    };

    document.getElementById("NewBeeButton").onclick = function () {
        location.href = "/Sighting/BasicInfo";
    };


</script>
